POSTGRES_DB=DBName
POSTGRES_USER=UserName
POSTGRES_PASSWORD=DBPassword

JWT_SECRET=SuperLongAtleast32CharacterString
JWT_ISSUER=mybackend
JWT_AUDIENCE=myfrontend
CORS_ORIGINS=http://localhost:3000;# http://localhost:5173;capacitor://localhost;tauri://localhost